.App {
    text-align: center;
    margin:auto;
    margin-top: 50px;
    width: 500px;
    background-color: rgb(189, 173, 204);
    padding: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 46px 40px 37px 3px rgba(0,0,0,0.64);
    -moz-box-shadow: 46px 40px 37px 3px rgba(0,0,0,0.64);
     box-shadow: 46px 40px 37px 3px rgba(0,0,0,0.64);
  }
  
  form{
      width: 100%;
  }

  form input{
      width:  80%;
      line-height: 40px;
      border: 1.5px solid black;
      border-radius: 2px;
      outline-style: none;
      font-size: 20px;
  }

  button{
      background-color: coral;
      color:white;
      outline:none;
      border-radius: 5px;
  }

  form button {
      height: 40px;
      font-size: 20px;
      
  }
  ul{
      margin:auto;
      margin-top: 20px;
  }
  ul li {
      display: inline-block;
      width: 80%;
      font-size: 20px;
      color:white;
      border-bottom: 2px solid rgb(0, 0, 0);
      text-align: left;
      list-style: none;
  }

  .done{
      text-decoration-line: line-through;
      text-decoration-color: rgb(255, 255, 0);
  }